{% extends '@!EasyAdmin/layout.html.twig' %}


		{% block title %}
			Tableau de Bord
		{% endblock %}

		{% block content_title '<h1><span class="sospro">Tableau de Bord</span></h1>' %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
				
			{% endblock %}
		{% endblock %}

		{% block main %}

			<div class="container py-5">
				<div class="row g-4">
					<div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-around text-center">
						<a href="{{ path('api_update_portfolio') }}" class="btn btn-info btn-lg mb-3 w-75" turbo-action="replace" data-turbo-frame="Statut_Github">Mettre à jour le Portfolio</a>
						<a href="{{ path('api_netlify_build') }}" class="btn btn-success btn-lg w-75" turbo-action="replace" data-turbo-frame="Statut_Netlify">Lancer le Build</a>
					</div>
					<div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
						<div class="card shadow-sm w-75 p-3 mb-3">
							<div class="card-body">
								<h3 class="card-title">Statut de la mise à jour Github</h3>
								<turbo-frame id="Statut_Github">		
									<p class="card-text">Pas de mise à jour effectuée.</p>
								</turbo-frame>
							</div>
						</div>
						<div class="card shadow-sm w-75 p-3 mb-3">
							<div class="card-body">
							<h3 class="card-title">Status de la demande de build Netlify</h3>
								<turbo-frame id="Statut_Netlify">
									<p class="card-text">...</p>
								</turbo-frame>
							</div>
						</div>
					</div>
				</div>
			</div>
	²
		{% endblock %}