<p>
			Bonjour Madame, Monsieur {{ context.contactRequest.lastName }},
		</p>

		<p>
			Je suis ravie de vous informer que votre demande de contact a bien été prise en compte. Je vous remercie pour l'intérêt que vous portez à mon profil et à mes compétences.
            Je vous recontacterai dans les plus brefs délais pour convenir d'un rendez-vous.
            Bien cordialement.
		</p>
		<table cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
			<tr>
				<!-- Informations Textuelles -->
				<td style="vertical-align: top; padding-right: 10px;">
					<p style="margin: 0; font-weight: bold; color: #000;">
						Fabien Roy
					</p>
				</td>
			</tr>


			<tr>
				<td colspan="2" style="padding-top: 10px;">
					<p style="margin: 0;">
						22 rue des Renardières 44100 Nantes
					</p>
					<p style="margin: 2px 0;">
						<a href="mailto:contact@sospro-jalila.fr" style="color: #1a0dab; text-decoration: none;">
							fabienroy2@gmail.com
						</a>
					</p>
					<p style="margin: 2px 0;">
						<a href="tel:0619706368" style="color: #1a0dab; text-decoration: none;">
							06 50 26 20 98
						</a>
					</p>
				</td>
			</tr>


			<!-- Liens vers les Réseaux Sociaux -->
		{# <tr>
																<td colspan="2" style="padding-top: 10px;">
																	<a href="https://www.linkedin.com/in/votreprofil" target="_blank" style="margin-right: 5px;">
																		<img src="https://sospro-jalila.fr/images/linkedin.png" alt="LinkedIn" width="20" style="display: inline-block;">
																	</a>
																	<a href="https://twitter.com/votreprofil" target="_blank" style="margin-right: 5px;">
																		<img src="https://sospro-jalila.fr/images/twitter.png" alt="Twitter" width="20" style="display: inline-block;">
																	</a>
																	<a href="https://www.facebook.com/votreprofil" target="_blank">
																		<img src="https://sospro-jalila.fr/images/facebook.png" alt="Facebook" width="20" style="display: inline-block;">
																	</a>
																</td>
															</tr> #}
			<!-- Coordonnées -->

		</table>

